@model IEnumerable<TheBugTracker.Models.Project>
@using TheBugTracker.Models.Enums
@using Microsoft.AspNetCore.Identity
@using TheBugTracker.Services.Interfaces


@inject UserManager<BTUser> UserManager
@inject IBTProjectService ProjectService

@{
    ViewData["Title"] = "All Projects";
    BTUser bTUser = await UserManager.GetUserAsync(User);
}



<div class="content-wrapper">
    <div class="row">
        <div class="col-12">
            <div class="row">
                <div class="col-12 col-sm-6 col-md-6 col-xl-3 grid-margin stretch-card">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">Total Tickets by Project</h4>
                            <div class="d-flex justify-content-between">
                                <p class="text-muted">Avg. Session</p>
                                <p class="text-muted">max: 40</p>
                            </div>
                            <div class="progress progress-md">
                                <div class="progress-bar bg-info w-25" role="progressbar" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-md-6 col-xl-3 grid-margin stretch-card">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">Status: Open</h4>
                            <div class="d-flex justify-content-between">
                                <p class="text-muted">Avg. Session</p>
                                <p class="text-muted">max: 120</p>
                            </div>
                            <div class="progress progress-md">
                                <div class="progress-bar bg-success w-25" role="progressbar" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-md-6 col-xl-3 grid-margin stretch-card">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">Status: Development</h4>
                            <div class="d-flex justify-content-between">
                                <p class="text-muted">Avg. Session</p>
                                <p class="text-muted">max: 54</p>
                            </div>
                            <div class="progress progress-md">
                                <div class="progress-bar bg-danger w-25" role="progressbar" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-md-6 col-xl-3 grid-margin stretch-card">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">Status: Closed</h4>
                            <div class="d-flex justify-content-between">
                                <p class="text-muted">Avg. Session</p>
                                <p class="text-muted">max: 143</p>
                            </div>
                            <div class="progress progress-md">
                                <div class="progress-bar bg-warning w-25" role="progressbar" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <h3>All Projects<span class="float-end"><a class="btn btn-primary btn-sm" asp-action="Create">Create New Project</a></span></h3>
                    <p class="card-description">
                        List Of All Projects.
                    </p>
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <thead class="bg-dark text-white">
                                <tr>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Name)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Description)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.StartDate)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.EndDate)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.ImageFileData)
                                    </th>
                                   
                                    <th>
                                        @Html.DisplayNameFor(model => model.Archived)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Company)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.ProjectPriority)
                                    </th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Name)
                                        </td>
                                        <td class="text-wrap">
                                            @Html.DisplayFor(modelItem => item.Description)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.StartDate)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.EndDate)
                                        </td>
                                        <td>
                                            @if (item.ImageFileData != null)
                                            {
                                                <img id="imageFileData" class="img-fluid img-thumbnail" style="width:100px;height:50px" src="data:image/*;base64,@(Convert.ToBase64String(item.ImageFileData))" />

                                            }
                                            @* @Html.DisplayFor(modelItem => item.ImageFileData) *@
                                        </td>
                                        
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Archived)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Company.Name)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.ProjectPriority.Name)
                                        </td>
                                        <td>
                                            <a asp-action="Details" asp-route-id="@item.Id">Details</a> |

                                            @{

                                                bool isProjectPM = (await ProjectService.GetProjectManagerAsync(item.Id))?.Id == bTUser.Id;

                                            }

                                            @if (User.IsInRole(Roles.Admin.ToString()) || isProjectPM)
                                            {

                                                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a>

                                                @if (item.Archived != true)
                                                {

                                                    <a asp-action="Archive" asp-route-id="@item.Id">Archive</a>
                                                }
                                                else
                                                {
                                                    <a asp-action="Restore" asp-route-id="@item.Id">Restore</a>

                                                }
                                            }

                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


