@model TheBugTracker.Models.Ticket
@using TheBugTracker.Models.Enums
@using TheBugTracker.Services.Interfaces
@using Microsoft.AspNetCore.Identity

@inject UserManager<BTUser> UserManager
@inject IBTProjectService ProjectService
@inject IBTTicketHistoryService HistoryService
@inject IBTFileService FileService

@{
    ViewData["Title"] = "Details";
    BTUser bTUser = await UserManager.GetUserAsync(User);
    BTUser projectManager = await ProjectService.GetProjectManagerAsync(Model.ProjectId);
    TicketAttachment ticketAttachment = new();

}



<div class="mx-3 mb-4">
    @if (string.IsNullOrEmpty(Model.DeveloperUserId) != true)
    {
        <a href="javascript:void(0);">
            @if (Model.DeveloperUser?.AvatarFileData != null)
            {
                <img class="media-object" src="data:image/*;base64,@(Convert.ToBase64String(bTUser.AvatarFileData))" alt="" />
            }
            else
            {
                <img class="media-object" src="https://cdn.icon-icons.com/icons2/1378/PNG/512/avatardefault_92824.png" style="width:30px;height:30px" alt="" />

            }
        </a>

        <span class="text-muted" style="font-size:medium">Developer: <strong>@Model.DeveloperUser.FullName</strong>
        </span>

    }
</div>





<div class="content-wrapper">

    <div class="row">
        <div class="col-lg-6 grid-margin">
            <div class="card">
                <div class="card-body">
                    <div class="card">
                        <h4 class="card-header bg-info text-white">Ticket Description</h4>
                        <div class="card-body">
                            @*Title of Ticket*@
                            <h5>@Model.Title</h5>
                            @*Description of Ticket*@
                            <p><strong>Description:</strong> @Model.Description</p>
                            
                            <div class="progress-container progress-info m-b-25">
                                <span class="progress-badge" style="font-size:small"><strong>Project Status</strong></span>
                                <div class="">
                                    @* Razor code block *@
                                    @{
                                        var start = Model.Project.StartDate.DateTime;
                                        var end = Model.Project.EndDate.DateTime;
                                        var today = DateTime.Now;
                                        var percent = today >= end ? 100 : today < start ? 0 : Math.Round((today.Subtract(start)) / (end.Subtract(start)) * 100);
                                    }
                                    @if (percent <= .25)
                                    {
                                        <div class="progress progress-lg">
                                            <div class="progress-bar bg-danger" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: @percent%">
                                                <span class="progress-value">@percent%</span>
                                            </div>
                                        </div>
                                    }
                                    else if (percent >= .50 && percent < 100)
                                    {
                                        <div class="progress progress-lg">
                                            <div class="progress-bar bg-warning " role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: @percent%">
                                                <span class="progress-value">@percent%</span>
                                            </div>
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="progress progress-lg">
                                            <div class="progress-bar bg-success " role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: @percent%">
                                                <span class="progress-value">@percent%</span>
                                            </div>
                                        </div>
                                    }


                                </div>

                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="col-lg-6 grid-margin">
            <div class="card">
                <div class="card-body">
                    <div class="card">
                        <h4 class="card-header bg-info text-white"> Ticket Details</h4>
                        <div class="card-body">
                            <ul class="list-unstyled">
                                @*Ticket date*@
                                <li><strong>Date Entered:</strong> <span class="">  @Model.Created.ToString("dd MMM, yyyy")</</span></li>
                                @*Project end date*@
                                <li><strong>Deadline:</strong> <span class="">  @Model.Project.EndDate.ToString("dd MMM, yyyy")</</span></li>
                                @*Ticket type*@
                                <li><strong>Type:</strong> <span class="">  @Model.TicketType.Name</span></li>
                                @*Ticket priority*@
                                <li><strong>Priority:</strong> <span class="">  @Model.TicketPriority.Name</span></li>
                                @*Ticket status*@
                                <li><strong>Status:</strong> <span class="">  @Model.TicketStatus.Name</span></li>
                            </ul>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-8">
            <div class="card">
                <div class="card-body">
                    <div class="card">
                        <h4 class="card-header bg-info text-white">Comments</h4>
                        <div class="card-body" style="overflow-y:auto;height:600px;">
                            <div class="profile-feed">
                                @*Form and Logic for authorized users to add comments*@

                                <form class="form-horizontal form-bordered" method="post" asp-action="AddTicketComment" asp-controller="Tickets">
                                    <input type="hidden" asp-for="Id" name="TicketId" />
                                    @if (Model.DeveloperUserId == bTUser.Id || Model.OwnerUserId == bTUser.Id || projectManager?.Id == bTUser.Id || User.IsInRole(Roles.Admin.ToString()))
                                    {
                                        <div class="form-group">
                                            <textarea asp-for="@(new TicketComment().Comment)" rows="8" class="form-control" required placeholder="Add Comment......"></textarea>
                                        </div>
                                        <button class="btn btn-sm btn-primary">Submit</button>
                                    }
                                    else
                                    {
                                        <div class="form-group">
                                            <textarea disabled asp-for="@(new TicketComment().Comment)" rows="8" class="form-control" required placeholder="Add Comment......"></textarea>
                                        </div>
                                    }
                                </form>
                                <hr />
                                <h6>Comments</h6>
                                <ul class="right_chat list-unstyled mb-0">
                                    @*Loop to show comments made for the Ticket*@
                                    @foreach (TicketComment comment in Model.Comments)
                                    {
                                        <li class="online mb-4">
                                            <div class="media">
                                                <a href="javascript:void(0);">
                                                    @if (bTUser?.AvatarFileData != null)
                                                    {
                                                        <img class="media-object" src="data:image/*;base64,@(Convert.ToBase64String(bTUser.AvatarFileData))" alt="" />
                                                    }
                                                    else
                                                    {
                                                        <img class="media-object" src="https://cdn.icon-icons.com/icons2/1378/PNG/512/avatardefault_92824.png" style="width:30px;height:30px" alt="" />

                                                    }
                                                </a>
                                                <div class="media-body">
                                                    <span class="text-muted" style="font-size:small">
                                                        @@ @comment.User.FullName
                                                        <small class="float-right">@comment.Created.ToString("MM.dd.yyyy h:ss tt")</small>
                                                    </span>
                                                </div>
                                                <span class="message text-primary"> @Html.Raw(comment.Comment)</span>
                                            </div>
                                        </li>
                                    }
                                </ul>


                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div class="col-md-4 grid-margin stretch-card">
            <div class="card">
                <div class="card-body" style="overflow-y: auto; height: 300px">
                    <h4 class="mb-3">Ticket History</h4>
                    <ul class="bullet-line-list">

                        @*Loop to show the history entries for the Ticket*@
                        @foreach (TicketHistory history in Model.History)
                        {
                            <li>
                                <span class="date" style="font-weight:bold">@history.Created.ToString("dd MMM yyyy")</span>
                                <h6>@history.Description</h6>
                                <span><strong>By: </strong><a href="" title="@history.User.FullName">@history.User.FullName</a></span>
                                <div>
                                    @if (history.Description.Contains("New ticket created"))
                                    {
                                        <p>A ticket was added</p>
                                    }
                                    else if (history.Property.Equals("TicketComment") || history.Property.Equals("TicketAttachment"))
                                    {
                                        <p>A<b>@history.Property</b> was added.</p>
                                    }
                                    else
                                    {
                                        <p>The Ticket <b>@history.Property</b> was edited</p>
                                        <p>@($"Previous {history.Property}") <span style="color:red"> @history.OldValue</span></p>
                                        <p>@($"Previous {history.Property}") <span style="color:green"> @history.NewValue</span></p>
                                    }
                                </div>
                            </li>

                        }
                    </ul>
                    <hr />
                </div>
            </div>
        </div>

    </div>
    <div class="row">
        <div class="col-lg-8 grid-margin">
            <div class="card">
                <div class="card-body">
                    <div class="card">
                        <h4 class="card-header bg-info text-white"> Ticket Attachments</h4>
                        <div class="card-body">
                            <div class="card-body" style="overflow-y:auto;height:300px;">

                                @* Refer to the Ticket Attachments document for this section *@

                                @* Ticket attachments part 1 here *@
                                <div class="row clearfix">
                                    <div>
                                        <form asp-action="AddTicketAttachment" asp-controller="Tickets" enctype="multipart/form-data" method="post">
                                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                            <input type="hidden" asp-for="@Model.Id" name="TicketId" />

                                            <div class="media-body ml-3">
                                                <label>
                                                    <strong>Description</strong>
                                                    <input asp-for="@(ticketAttachment.Description)" type="text" class="form-control mt-2" />
                                                </label><br />
                                                <div class="mt-3">
                                                    <label class="btn btn-outline-primary btn-sm">
                                                        <input asp-for="@(ticketAttachment.FormFile)" type="file" class="form-control-file" />
                                                    </label>
                                                    <button type="submit" class="btn btn-primary btn-sm">Submit</button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>

                                @* Ticket attachments part 2 here *@
                                <hr />
                                <h6>Attachments</h6>
                                <div class="container">
                                    <div class="row">
                                        @foreach (TicketAttachment item in Model.Attachments)
                                        {
                                            <div class="col col-sm-2">
                                                <a asp-action="ShowFile" asp-controller="Tickets" asp-route-Id="@item.Id">
                                                    <div class="icon">
                                                        <img src="@FileService.GetFileIcon(item.FileName)" style="height:50px;width:50px" data-bs-toggle="tooltip" data-bs-placement="top" title="" data-bs-original-title="@item.FileName" />
                                                    </div>
                                                </a>
                                                <div style="font-size:x-small">
                                                    <div class="file-name">
                                                        <strong>@item.Description</strong>
                                                    </div>
                                                    <small>Size: @FileService.FormatFileSize(item.FileData.Length) </small>
                                                </div>
                                            </div>
                                        }
                                    </div>
                                </div>
                            </div>



                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

</div>


