@model IEnumerable<TheBugTracker.Models.Ticket>

@{
    ViewData["Title"] = "My Tickets";
}





<div class="content-wrapper">
    <div class="row">
        <div class="col-12">
            <div class="row">
                <div class="col-12 col-sm-6 col-md-6 col-xl-3 grid-margin stretch-card">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">Total Tickets by Project</h4>
                            <div class="d-flex justify-content-between">
                                <p class="text-muted">Avg. Session</p>
                                <p class="text-muted">max: 40</p>
                            </div>
                            <div class="progress progress-md">
                                <div class="progress-bar bg-info w-25" role="progressbar" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-md-6 col-xl-3 grid-margin stretch-card">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">Status: Open</h4>
                            <div class="d-flex justify-content-between">
                                <p class="text-muted">Avg. Session</p>
                                <p class="text-muted">max: 120</p>
                            </div>
                            <div class="progress progress-md">
                                <div class="progress-bar bg-success w-25" role="progressbar" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-md-6 col-xl-3 grid-margin stretch-card">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">Status: Development</h4>
                            <div class="d-flex justify-content-between">
                                <p class="text-muted">Avg. Session</p>
                                <p class="text-muted">max: 54</p>
                            </div>
                            <div class="progress progress-md">
                                <div class="progress-bar bg-danger w-25" role="progressbar" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-md-6 col-xl-3 grid-margin stretch-card">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">Status: Closed</h4>
                            <div class="d-flex justify-content-between">
                                <p class="text-muted">Avg. Session</p>
                                <p class="text-muted">max: 143</p>
                            </div>
                            <div class="progress progress-md">
                                <div class="progress-bar bg-warning w-25" role="progressbar" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <h3>My Tickets<span class="float-end"><a class="btn btn-primary btn-sm" asp-action="Create">Create New Ticket</a></span></h3>
                    <p class="card-description">
                        List of My Tickets
                    </p>
                    <div class="table-responsive" style="overflow-y:auto;height:600px;">

                        <table class="table table-hover">
                            <thead class="bg-dark text-white">
                                <tr>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Title)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Description)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Created)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Updated)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Archived)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Project)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.TicketStatus)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.TicketPriority)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.TicketType)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.OwnerUser)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.DeveloperUser)
                                    </th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            <a class="text-dark" asp-controller="Tickets" asp-action="Details" asp-route-id="@item.Id"><strong>@item.Title</strong></a>
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Description)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Created)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Updated)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Archived)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Project.Name)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.TicketStatus.Name)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.TicketPriority.Name)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.TicketType.Name)
                                        </td>
                                        <td>
                                            @item.OwnerUser?.FullName
                                        </td>
                                        <td>
                                            @item.DeveloperUser?.FullName
                                        </td>
                                        <td>
                                            <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                                            <a asp-action="Details" asp-route-id="@item.Id">Details</a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

