@model TheBugTracker.Models.ViewModels.DashboardViewModel
@using Microsoft.AspNetCore.Identity
@using TheBugTracker.Models.Enums
@using TheBugTracker.Services.Interfaces

@inject UserManager<BTUser> UserManager
@inject IBTRolesService RolesService


@{
    ViewData["Title"] = "Dashboard";
    @* Instantiate the btUser *@
    BTUser bTUser = await UserManager.GetUserAsync(User);
}

<div class="content-wrapper">
    <!--*****Pills*****-->
    <div class="row">
        <div class="col-md-3 grid-margin stretch-card">
            <div class="card bg-info">
                <div class="card-body">
                    <h2 class="card-title text-md-center text-xl-left">Active Projects</h2>
                    <div class="d-flex flex-wrap justify-content-between justify-content-md-center justify-content-xl-between align-items-center text-light">
                        <h3 class="mb-0 mb-md-2 mb-xl-0 order-md-1 order-xl-0"><!--Model.Projects.Where(p => p.StartDate < DateTime.Now && p.EndDate > DateTime.Now).Count()--></h3>
                        <i class="ti-calendar icon-md text-muted mb-0 mb-md-3 mb-xl-0"></i>
                    </div>
                    <p class="mb-0 mt-2 text-warning">2.00% <span class="text-black ms-1"><small>(30 days)</small></span></p>
                </div>
            </div>
        </div>
        <div class="col-md-3 grid-margin stretch-card">
            <div class="card bg-secondary">
                <div class="card-body">
                    <p class="card-title text-md-center text-xl-left">Total Tickets</p>
                    <div class="d-flex flex-wrap justify-content-between justify-content-md-center justify-content-xl-between align-items-center">
                        <h3 class="mb-0 mb-md-2 mb-xl-0 order-md-1 order-xl-0"><!--Model.Tickets.Count()--></h3>
                        <i class="ti-user icon-md text-muted mb-0 mb-md-3 mb-xl-0"></i>
                    </div>
                    <p class="mb-0 mt-2 text-danger">0.22% <span class="text-black ms-1"><small>(30 days)</small></span></p>
                </div>
            </div>
        </div>
        <div class="col-md-3 grid-margin stretch-card">
            <div class="card bg-warning">
                <div class="card-body">
                    <p class="card-title text-md-center text-xl-left">Unassigned Tickets</p>
                    <div class="d-flex flex-wrap justify-content-between justify-content-md-center justify-content-xl-between align-items-center">
                        <h3 class="mb-0 mb-md-2 mb-xl-0 order-md-1 order-xl-0"><!--Model.Tickets.Where(t => string.IsNullOrEmpty(t.DeveloperUserId)).Count()--></h3>
                        <i class="ti-agenda icon-md text-muted mb-0 mb-md-3 mb-xl-0"></i>
                    </div>
                    <p class="mb-0 mt-2 text-success">10.00%<span class="text-black ms-1"><small>(30 days)</small></span></p>
                </div>
            </div>
        </div>
        <div class="col-md-3 grid-margin stretch-card">
            <div class="card bg-success">
                <div class="card-body">
                    <p class="card-title text-md-center text-xl-left">Total Data</p>
                    <div class="d-flex flex-wrap justify-content-between justify-content-md-center justify-content-xl-between align-items-center">
                        <h3 class="mb-0 mb-md-2 mb-xl-0 order-md-1 order-xl-0">
                            <!--(
                                    Model.Projects.Count()
                                    + Model.Tickets.Count()
                                    + Model.Members.Count()
                                    )-->
                        </h3>
                        <i class="ti-layers-alt icon-md text-muted mb-0 mb-md-3 mb-xl-0"></i>
                    </div>
                    <p class="mb-0 mt-2 text-success">22.00%<span class="text-black ms-1"><small>(30 days)</small></span></p>
                </div>
            </div>
        </div>
    </div>

    <!--*****2 row 4 columns*****-->
    <div class="row">
        <div class="col-md-3 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <p class="card-title">Order and Downloads</p>
                    <p class="text-muted font-weight-light">The total number of sessions within the date range. It is the period time a user is actively engaged with your website, page or app, etc</p>
                    <div class="d-flex flex-wrap mb-5">
                        <div class="me-5 mt-3">
                            <p class="text-muted">Order value</p>
                            <h3>12.3k</h3>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <p class="card-title">Order and Downloads</p>
                    <p class="text-muted font-weight-light">The total number of sessions within the date range. It is the period time a user is actively engaged with your website, page or app, etc</p>
                    <div class="d-flex flex-wrap mb-5">
                        <div class="me-5 mt-3">
                            <p class="text-muted">Order value</p>
                            <h3>12.3k</h3>
                        </div>

                    </div>

                </div>
            </div>
        </div>
        <div class="col-md-3 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <p class="card-title">Order and Downloads</p>
                    <p class="text-muted font-weight-light">The total number of sessions within the date range. It is the period time a user is actively engaged with your website, page or app, etc</p>
                    <div class="d-flex flex-wrap mb-5">
                        <div class="me-5 mt-3">
                            <p class="text-muted">Order value</p>
                            <h3>12.3k</h3>
                        </div>

                    </div>

                </div>
            </div>
        </div>
        <div class="col-md-3 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <p class="card-title">Order and Downloads</p>
                    <p class="text-muted font-weight-light">The total number of sessions within the date range. It is the period time a user is actively engaged with your website, page or app, etc</p>
                    <div class="d-flex flex-wrap mb-5">
                        <div class="me-5 mt-3">
                            <p class="text-muted">Order value</p>
                            <h3>12.3k</h3>
                        </div>

                    </div>
                </div>
            </div>
        </div>

    </div>

    <!--*****3rd row and 2 columns*****-->
    <div class="row">
        <div class="col-md-5 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Members</h4>
                    <div class="table-responsive">
                        <table class="table">
                            <thead class="bg-dark text-white">
                                <tr>
                                    <th>
                                        Avatar
                                    </th>
                                    <th>
                                        Name
                                    </th>
                                    <th>
                                        Projects
                                    </th>
                                    <th>
                                        Role
                                    </th>


                                </tr>
                            </thead>
                            <tbody>
                                @* Table body *@

                                @foreach (var member in Model.Members)
                                {
                                    <tr>
                                        <td>
                                            @if (member.AvatarFileData != null)
                                            {
                                                <span><img id="imageFileData" class="img-fluid img-thumbnail" style="width:100px;height:80px" src="data:image/*;base64,@(Convert.ToBase64String(member.AvatarFileData))" /></span>

                                            }
                                            else
                                            {
                                               <span><img src="https://via.placeholder.com/36x36" alt="image" /></span> 

                                            }
                                        </td>

                                        <td><span style="font-size:small">@member.FullName</span></td>
                                        <td><span style="font-size:small">@member.Projects?.Count()</span></td>
                                    </tr>
                                }

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-7 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <p class="card-title mb-0">Projects</p>
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <thead class="bg-dark text-white">
                                <tr>
                                    @* Table header *@
                                    <th>Name</th>
                                    <th>StartDate</th>
                                    <th>EndDate</th>
                                    <th>Priority</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                @* Table body *@

                                @foreach (var project in Model.Projects.OrderByDescending(d => d.EndDate))
                                {
                                    <tr>
                                        <td><a asp-action="Details" asp-controller="Project" asp-route-id="@project.Id" style="color:black"><strong>@project.Name</strong></a></td>
                                        <td><span style="font-size:small">@project.StartDate.ToString("MM.dd.yyyy")</span></td>
                                        <td><span style="font-size:small">@project.EndDate.ToString("MM.dd.yyyy")</span></td>
                                        <td><span style="font-size:small">@project.ProjectPriority?.Name</span></td>
                                        <td>
                                            <a class="btn btn-sm btn-outline-secondary" asp-action="Details" asp-controller="Project" asp-route-id="@project.Id"><i class="fs-5 bi-justify"></i></a>
                                        </td>


                                    </tr>
                                }

                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
        </div>

    </div>

    <!--***** 4th row and 1 columns*****-->
    <div class="row">
        <div class="col-md-12 grid-margin grid-margin-md-0 stretch-card">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Tickets</h4>
                    <div class="table-responsive">

                        <table class="table table-hover">
                            <thead class="bg-dark text-white">
                                <tr>
                                    @* Table header *@
                                    <th>Title</th>
                                    <th>Developer</th>
                                    <th>Status</th>
                                    <th>Priority</th>
                                    <th>Date</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                @* Table body *@

                                @foreach (var ticket in Model.Tickets.OrderByDescending(d => d.Created))
                                {
                                    <tr>
                                        <td><a asp-action="Details" asp-controller="Tickets" asp-route-id="@ticket.Id" style="color:black"><strong>@ticket.Title</strong></a> </td>
                                        <td>
                                            @if (ticket.DeveloperUserId != null)
                                            {
                                                @ticket.DeveloperUser?.FullName
                                            }
                                            else
                                            {

                                                <span class="badge bg-warning text-dark">Unassigned</span>

                                            }
                                        </td>
                                        @if (ticket.TicketStatus.Name == "New")
                                        {

                                            <td><span class="badge bg-success rounded-pill">@ticket.TicketStatus.Name </span></td>

                                        }
                                        else
                                        {
                                            <td><span class="badge bg-secondary rounded-pill">@ticket.TicketStatus.Name </span></td>
                                        }
                                        <td><span class="badge bg-dark">@ticket.TicketPriority.Name </span></td>
                                        <td><span style="font-size:small">@ticket.Created.ToString("MM-dd-yyyy")</span></td>
                                        <td>
                                            <a class="btn btn-sm btn-outline-secondary" asp-action="Details" asp-controller="Tickets" asp-route-id="@ticket.Id"><i class="fs-5 bi-justify"></i></a>

                                        </td>
                                    </tr>
                                }

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>